@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html {
  scroll-behavior: smooth;
}

.sun {
  font-size: calc(8em + 1vw);
  color: #fcf157;
  text-shadow: 0 0 10px rgba(255, 242, 61, 0.8), 0 0 20px rgba(255, 242, 61, 0.5), 0 0 30px rgba(255, 242, 61, 0.2), 0 0 40px rgba(255, 242, 61, 0.1);
  z-index: -1;
  transform: translateX(30%);
}

.moon {
  font-size: calc(8em + 1vw);
  color: #F6F1D5;
  text-shadow: 0 0 10px rgba(150, 180, 255, 0.8), 0 0 20px rgba(120, 150, 200, 0.8), 0 0 30px rgba(80, 110, 150, 0.8), 0 0 40px rgba(40, 60, 100, 0.8);
  z-index: -1;
  transform: translateX(30%);
}

.page-container {
  z-index: 1;
  position: relative;
}

.card {
  color: #F5F5F5;
  background-color: #11111120;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}